html,
body,
#root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.inner-container {
    transition: visibility 0.2s ease-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
}

.inner-container.show {
    visibility: visible;
}

.box {
    display: flex;
    width: 350px;
    flex-direction: column;
    justify-content: center;
    
}

.errorMsg {
    font-family: Oxygen, sans-serif;
    color: red;
}

img {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

.login-input {
    height: 2.1em;
    border-radius: 3px;
    border: 1px solid;
    transition: border 0.4s ease-out;
    padding: 10px;
    font-family: Oxygen, sans-serif;
    font-size: 16px;
    color: #3e3e42;
    background: rgba(15, 15, 15, 0.01);
}

.login-input:hover {
    border: 2px solid;
}

.login-input:focus {
    border: 2px solid #3e3e42;
    box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

.login-input::placeholder {
    font-family: Oxygen, sans-serif;
    font-size: 16px;
    color: rgba(15, 15, 15, 0.4);
}

.login-btn {
    padding: 2px 30px;
    height: 45px;
    border: 0;
    font-size: 20px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    background-color: rgba(15, 15, 15, 0.03);
    margin-top: 10px;
    border: 2px solid #3e3e42;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}

.login-btn:hover,
.login-btn:focus {
    background-color: #3e3e42;
    color: white;
}

.danger-error {
    color: #e74c3c;
    font-size: 16px;
}

