* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Josefins Sans', sans-serif;
}


.main{
    display: flex;
    position: relative;
}

.main .menu-btn {
    width: 32px;
    height: 32px;
}

.main .sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: grey;
}

.main .sidebar p {
    padding: 10px;
    font-size: medium;
    font-weight: bold;
}

.main .frame {
    width: 100%;
    margin-left: 250px;
    
}

.main .frame iframe {
    position: fixed;
    width: 100%;
    height: 100%;
}

.main .menu-btn {
    position: fixed;
}